.input 
	position: relative
	z-index: 1
	display: inline-block
	margin: 1em
	max-width: 350px
	width: calc(100% - 2em)
	vertical-align: top

.input__field
	position: relative
	display: block
	float: right
	padding: 0.8em
	width: 60%
	border: none
	border-radius: 0
	background: #f0f0f0
	color: #aaa
	-webkit-appearance: none

.input__field:focus 
	outline: none

.input__label 
	display: inline-block
	float: right
	padding: 0 1em
	width: 40%
	color: #6a7989
	-webkit-font-smoothing: antialiased
	-moz-osx-font-smoothing: grayscale
	-webkit-touch-callout: none
	-webkit-user-select: none
	-khtml-user-select: none
	-moz-user-select: none
	-ms-user-select: none
	user-select: none

.input__label-content
	position: relative
	display: block
	padding: 1.6em 0
	width: 100%

.input--haruki 
	margin: 10px 0


.input__field--haruki 
	padding: 0.4em 0.25em
	width: 100%
	background: transparent
	border: 1px solid  #666
	color: #AFB5BB
	font-size: 1.85em


.input__label--haruki 
	position: absolute
	width: 100%
	text-align: left
	pointer-events: none


.input__label-content--haruki 
	-webkit-transition: -webkit-transform 0.3s
	transition: all 0.3s ease


.input__label--haruki::before 
	top: 0


.input__label--haruki::after
	bottom: 0


.input__field--haruki:focus + .input__label--haruki .input__label-content--haruki,
.input--filled .input__label-content--haruki
	-webkit-transform: translate3d(0, -30%, 0)
	transform: translate3d(0, -30%, 0)
	font-size: 12px
